<div class="box ml-6 mr-6 p-1">
  <article class="media">
    <div class="media-content m-2">
      <div class="content">
        <%= link_to board.title, "/boards/#{board.id}" %>
      </div>

      <div class="has-text-right">
        <i class="fas fa-yen-sign" aria-hidden="true"></i>
        <%= board.likes %>
      </div>

    </div>
  </article>
</div>