<h1 class='is-size-2 has-text-centered m-3'>みんなの不幸一覧</h1>

<div class="tabs is-toggle is-size-5 ml-6 mr-6 ">
  <ul>
    <li class="tab is-active">
      <a>
        <span>新着順</span>
      </a>
    </li>
    <li class="tab">
      <a>
        <span>ランキング順</span>
      </a>
    </li>
  </ul>
</div>

<div class="panel-group is-size-6 has-text-centered">
	<div class="boards is-show ml-3 mr-3"><%= render @boards %></div>
	<div class="boards ml-3 mr-3"><%= render @ranking_boards %></div>
</div>

<%== pagy_bulma_nav(@pagy) %>