<h1 class='is-size-2 has-text-centered'>みんなの不幸一覧</h1>

<div class="tabs is-toggle is-medium ">
  <ul>
    <li class="tab is-active">
      <a>
        <span class="icon has-text-warning"><i class="fas fa-lemon" aria-hidden="true"></i></span>
        <span>新着順</span>
      </a>
    </li>
    <li class="tab">
      <a>
        <span class="icon"><i class="fas fa-medal" aria-hidden="true"></i></span>
        <span>ランキング</span>
      </a>
    </li>
  </ul>
</div>

<div class="panel-group">
	<div class="boards is-show"><%= render @boards %></div>
	<div class="boards" ><%= render @ranking_boards %></div>
</div>

<%== pagy_bulma_nav(@pagy) %>