<h1 class='is-size-1'>新着順</h1>

<%= render @boards %>

<%== pagy_bulma_nav(@pagy) %>


<!--
<% @boards.each do |board| %>
  <span><%= link_to board.title, "/boards/#{board.id}" %></span>
<% end %>
-->