<h1 class='is-size-1'>詳細画面</h1>
<h2>タイトル</h2>
<p><%= @board.title %></p>
<h2>内容</h2>
<p><%= @board.body %></p>

<%= link_to board_likes_path(@board), class: "level-item", method: :post do %>
  <i class="fas fa-yen-sign">100</i>
<% end %>

<%= link_to '一覧画面に戻る', boards_path %>