<div class="has-text-centered">
  <div class="titles m-5">
    <h1 class="title is-1">不幸自慢</h1>
    <h2 class="title is-2">-同情するなら金をくれ!!-</h2>
  </div>

  <%= image_tag 'top.png', size: 400 %>

  <div class="top-menu">
    <%= link_to '新規投稿', new_board_path, class: "button is-large m-4" %><br>
    <%= link_to '一覧画面', boards_path, class: "button is-large" %>
  </div>
</div>