<h1 class='is-size-1'>不幸自慢</h1>
<h2 class='is-size-3'>-同情するなら金をくれ!!-</h2>

<div class="buttons">
  <%= link_to '新規投稿', new_board_path, class: "button" %>
  <%= link_to '一覧画面', boards_path, class: "button" %>
</div>