<div class="has-text-centered">
  <div class="titles mt-5 mb-4">
    <h1 class="title is-1 mb-1">不 幸 自 慢</h1>
    <h2 class="title is-3 mb-5">同情するなら金をくれ!!</h2>
  </div>

  <%= image_tag 'top.png', size: "300x300" %>

  <div class="top-menu">
    <%= link_to t( "boards.new.title" ), new_board_path, class: "button is-large m-4" %><br>
    <%= link_to t( "boards.index.title" ), boards_path, class: "button is-large" %>
  </div>

  <ul class="policy mt-5 mb-5">
    <li>利用規約<li>
    <li>プライバシーポリシー</li>
    <li>お問い合わせフォーム</li>
  </ul>
</div>