.tabs{
  display: flex;
  justify-content: center;
}

.tab{
  flex-grow: 1;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.panel-group{
  border-top: none;
}

a {
  color: #4a4a4a;
}

.boards{
  display: none;
}

.is-show{
  display: block;
}

.content {
  font-size: 25px;
}

.has-text-right {
  font-size: 25px;
}

.tabs.is-toggle li.is-active a {
  background-color: #6B8E23;
  border-color: #6B8E23;
  color: #fff;
  z-index: 1;
}

.pagination-link.is-current {
  background-color: #dbdbdbdb;
  border-color: #dbdbdb;
  color: #4a4a4a;
}

.button.is-focused {
  border-color: #6B8E23;
  color: #6B8E23;
}