.tabs{
  display: flex;
  justify-content: center;
}

.tab{
  flex-grow: 1;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.panel-group{
  border-top: none;
}

.boards{
  display: none;
}

.is-show{
  display: block;
}

.content {
  font-size: 25px;
}

.has-text-right {
  font-size: 25px;
}