.content {
  word-break: break-all;
}

h1 {
  color: #363636;;
}

p {
  font-size: 25px;
}

.box {
  background: #bfbdbb;
}

// 100ボタン
.btn-circle-3d-emboss {
  display: inline-block;
  text-decoration: none;
  background: #bfbdbb;
  color: #bfbdbb;
  width: 120px;
  height: 120px;
  font-size: 21px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px rgba(255, 255, 255, 0.43);
  text-shadow: -1px -1px rgba(255, 255, 255, 0.43), 1px 1px rgba(0, 0, 0, 0.49);
  transition: .4s;
}

.btn-circle-3d-emboss:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}